absl-py==2.3.1
astunparse==1.6.3
beautifulsoup4==4.13.4
blinker==1.8.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.7
colorama==0.4.6
contourpy==1.3.3
cvlib==0.2.7
cycler==0.12.1
dlib-bin==19.24.6
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models@e67de717267507d1e9246de95692eb8be736ab61
filelock==3.18.0
Flask==3.0.3
flatbuffers==25.2.10
fonttools==4.59.0
fsspec==2025.7.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.74.0
h5py==3.14.0
idna==3.10
imageio==2.37.0
imutils==0.5.4
itsdangerous==2.2.0
Jinja2==3.1.4
Js2Py==0.74
keras==3.11.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.5
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
namex==0.1.0
networkx==3.5
numpy==2.1.3
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.2.2
pillow==11.3.0
pipwin==0.5.2
playsound==1.3.0
progressbar==2.5
protobuf==5.29.5
psutil==7.0.0
py-cpuinfo==9.0.0
PyAudio==0.2.14
pycparser==2.22
Pygments==2.19.2
pyjsparser==2.7.1
pyparsing==3.2.3
PyPrind==2.11.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pySmartDL==1.3.4
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-magic-bin==0.4.14
pytz==2024.1
PyYAML==6.0.2
reportlab==4.4.3
requests==2.32.4
rich==14.1.0
scipy==1.16.1
setuptools==80.9.0
simple-image-download==0.5
six==1.16.0
sounddevice==0.5.2
soupsieve==2.7
SpeechRecognition==3.14.3
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
tk==0.1.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2024.1
tzlocal==5.3.1
ultralytics==8.3.174
ultralytics-thop==2.0.15
urllib3==2.5.0
Werkzeug==3.0.3
wheel==0.45.1
wrapt==1.17.2
